*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body{
    align-items: center;    

    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    
}
#Ali-Description{
    text-align: center;
}
#title{
         width: 100%;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
}    